body{
    background-color: orange;
}
h1,h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.buyuk{
    background-color:bisque;
}
.orta{
    background-color:greenyellow;
}

ol{
    width:150px;
    background-color:blanchedalmond;
}

table{
    background-color:burlywood;
    font-size:1.3rem;
}