/Q01_ArmstrongSayiMi.class
/Q02_İndexi_Tek_Sayi_Olan_Kar_Yazrdıma.class
/Q03_BirSayınınÜssünüHesaplayanCode.class
/Q04_OCAType.class
/Q05_BasamakDeğerleriToplamı.class
/Q06_BolmeOperatoruKullanmadanBolme.class
/Q07_BittiDiyeneKadarÇalışanProgram.class
/Q08_OCAType.class
/Q09_PinKodunuKontrolEt.class
/Q10_Girilen5SayınınEnBüyüğünüBul.class
/Q11.class
/Q12_YüksektenBırakılanBirTopunToplamAldığıYol.class
/Q13.class
/Q14_SayınınFaktroiyeliniAlma.class
/Q15_VerilenSayınınKombinasyonunuBulma.class
/Q16_GirilenSayınınBasamaklarıToplamı.class
/Q17_OCAType.class
/Q18_StringPinKodunuKontrolEt.class
/Q19.class
