body{
    background:url("../assets/img/resim4.jpg");
}

section{
    border:3px solid brown;
    border-radius:10px;
    font-size:larger;
    font-weight: bolder;
}

.container{
    display:flex;
}

.icerik{
    display:flex;
}