nav.menu{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color:rgb(211, 203, 203);
    width:200px;
}

ul.menu{
    list-style-type: '🐥';
    padding:0;
    list-style-position: inside;

}


.active{
    background-color:gray;
}

li.item{
    padding:1rem;
}

a.link{
    text-decoration:none;
    font-weight: 300;
    color:black;
}

a.link:visited{
    color:black;
}

a.link:hover{
    background-color:coral;
    color:antiquewhite;
}

