:root{
    --color1: rgb(56, 38, 38);
    --color2: rgb(168, 10, 10);
    --color3: rgb(243, 243, 78);
    --color4:rgb(209, 229, 186);
}
nav.menu{
  background-color:var(--color2);
  text-align: center;
}

nav.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.menu > ul > li{
    display: inline-block;
    background-color:var(--color3);
    position: relative;
    width: 100px;
}

nav.menu > ul > li:hover{
    background-color:var(--color4);
}

nav.menu > ul > li:hover ul{
    display: inline-block;
}

nav.menu ul li ul{
    display:none;
    position:absolute;
    left:0;
    top:33px;
    background-color:var(--color3);
    text-align: left;


}

nav.menu a{
    text-decoration: none;
    color:var(--color1);
    padding: 0.5rem 1rem;
    display:inline-block;
    

}

nav.menu ul ul a:hover{
    background-color: var(--color4);
    display:block;
}
